/* h1 {
  border-width: 8px;
  border-color: gold;
  border-top-color: red;
  border-right-color: orange;
  border-bottom-color: yellow;
  border-left-color: green;
  border-style: solid;
  border-bottom-style: dotted;
} */

/* 
h1{
  border: 10px solid green;
  border-top-color: purple;
} */

h1 {
  border-bottom: 3px dashed magenta;
}