/* 
Em's are relative units
With font-size, em equals the font-size of the parent. 
2em's is twice the font-size of the parent, etc.

With other properties, 1em is equal to the computed font-size of the element itself.
*/

/* Parent. Every font size will change relative to the parent */
.container {
    font-size: 20px;
}

h1 {
    font-size: 4em;
    margin: 0;
    margin-left: 1em;
}

p {
    font-size: 1.5em;
}

.small {
    font-size: 0.7em;
}